.container {
  padding: 80px; }

.mainPage .bgImg {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: white;
  background-size: cover;
  padding: 50px;
  border-bottom: 1.5px solid black; }

.mainPage .mainText {
  color: black;
  font-weight: bolder;
  font-family: "Josefin Sans Bold",sans-serif;
  font-size: 25px;
  margin-bottom: 40px; }

.mainPage .text {
  color: black;
  font-weight: bold;
  font-family: "Noto Sans CJK KR Bold", serif;
  font-size: 20px; }

.mainPage .form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  text-align: left; }

.mainPage .button {
  font-size: 20px;
  color: white;
  background-color: blue;
  border-color: blue;
  margin: 20px 0px 20px 0px;
  width: 90%; }

.mainPage .input {
  background-color: beige; }

.mainPage .marginT {
  margin-bottom: 35px; }

.mainPage .google.button,
.mainPage .google.button:hover,
.mainPage .google.button:active {
  background-color: orangered !important;
  border-color: orangered !important; }

.mainPage .google.icon {
  color: orangered;
  margin-top: 17px;
  margin-left: 30px; }

.mainPage .facebook.button,
.mainPage .facebook.button:hover,
.mainPage .facebook.button:active {
  background-color: darkblue !important;
  border-color: darkblue !important; }

.mainPage .facebook.icon {
  color: darkblue;
  margin-top: 17px;
  margin-left: 30px; }

.mainPage .btn:hover {
  background-color: darkblue;
  border-color: darkblue;
  color: white; }
