.profile {
  font-family: "Noto Sans CJK KR Bold", serif; }

.profile .card {
  border: none; }

.profile .image {
  width: 60%;
  padding: 20px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto; }

.profile .body {
  border-top: 1px solid lightgray;
  width: 90%;
  text-align: Left;
  margin-bottom: 15px; }

.profile .mainText {
  font-size: 48px;
  font-weight: bold; }

.profile .text {
  padding: 10px;
  font-size: 35px;
  font-weight: bold; }

.profile .descText {
  font-weight: bold;
  color: darkgray;
  font-size: 24px;
  line-height: 1.8; }

.profile .nameText {
  font-size: 48px;
  font-weight: bold; }

.profile .phraseText {
  font-size: 36px;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: .6em;
  margin-top: 20px; }
