.singup{

  .text{
    margin-bottom: 30px;
  }

  .mainText{
    margin-bottom: 0;
  }

  .button{
    width: 100%;
    margin: auto;
  }

  .textBelow{
    margin-top: 25px;
    color: black;
    font-weight: normal;
    font-family: "Noto Sans CJK KR Bold", serif;
    font-size: 15px;
  }
}