.cardIcon {
  color: rgb(93, 153, 199);
  width: 100%;;
  font-size: 5vw;
  text-align: center;
  margin: 0 auto;
}

.sytnom {
  text-align: center;
  border: none;
}

.cardTitle{
  font-size: 1vw;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  font-weight: 600;
  color: #838383
}

.text{
  padding-top: 4%;
  color: #838383;
  margin: 0 auto;
  width: 70%
}