.cardIcon {
  color: rgb(93, 153, 199);
  width: 100%;;
  font-size: 5vw;
  text-align: center;
  margin: 0 auto;
}

.sytnom {
  text-align: center;
  border: none;
  min-width: 100px;
  background-color: rgb(160, 205, 240) !important;
}

.cardTitle{
  font-size: 1.3rem;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  font-weight: 600;
  color: rgb(64, 103, 133);
}

.text{
  padding-top: 4%;
  color: #838383;
  margin: 0 auto;
  width: 70%
}

.roundy{
  margin-top: 1.5rem;
  background-color: rgb(219, 219, 219) !important;
  border-radius: 1rem;
  padding-bottom: 1rem;
}