.parallaxSection{
  background-image: url('../../images/blue-geometric-wallpaper.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba($color: #204d86, $alpha: 0.3);
  background-blend-mode: multiply;
}

.bigTitle{
  padding-top: 7%;
  padding-bottom: 7%;
  text-align: center;
  line-break: 3rem;
  h1{
    font-size: 5vw;
    color: rgb(255, 255, 255);//rgb(30, 46, 61);
  }

  p{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 2vw;
  }

  .logo{
    align-self: center;
    margin: 0 auto;
  }

}

.infoSection {
  background-color: rgb(241, 243, 230);

  .infoContainer{
    padding-top: 7%;
  }

  .definition{
    margin: 0 auto;
    width: 33%;
    padding-bottom: 3%;
    line-height: 1.75vw;
    p{
      font-size: 1vw;
      font-weight: 600;
      color: #838383
    }
    .titulito{
      padding-bottom: 5%;
    }
  }

  h2{
    color: rgb(93, 153, 199);;
    font-weight: bold;
  }

  .cardList{
    padding-top: 5%;
    padding-bottom: 10%;
  }

}